<template>
    <div class="w3-container">
        <h1>Moderation for {{name}} </h1>
        <ul style="list-style-type:none;">
            <h5>Description</h5>
            <input v-model="userdescription"/>
            <h5>Display Name</h5>
            <input v-model="username"/>
            <h5>Avatar</h5>
            <input type="file" @change="previewFiles" accept="image/*">
            <button class="save" v-on:click="save(name, userdescription, username)">Save</button>
            <button class="deny" v-on:click="deleteuser(name)">Delete Group</button>
            <h2>Approval Queue</h2>
            <li v-for="item in queue">
                <a :href="item.object[0]" target="_blank">{{ item.object[0] }}</a>
                <button class="deny" v-on:click="denyblock(name, item.object[0])">Block</button>  
                <button class="deny" v-on:click="deny(name, item.object[0])">Deny</button>
                <button class="approve" v-on:click="approve(name, item.object[0])">Approve</button>
            </li>
            <h2>Posts</h2>
            <li v-for="item in posts">
                <a :href="item.object[0]" target="_blank">{{ item.object[0] }}</a>  
                <button class="deny" v-on:click="deletepost(name, item.object[0])">Delete</button>
            </li>
            <h2>Blocked Users</h2>
            <li v-for="item in blockedusers">
                <a :href="item.user" target="_blank">{{ item.user }}</a>  
                <button class="approve" v-on:click="unblockuser(name, item.user)">Unblock</button>
            </li>
        </ul>
    </div>
</template>

<script>

export default {
  name: 'ModerationUi',
  components: {},
  props: {
    name: {
      type: String,
      required: true,
    }
    
  },
  data () {
    return {
      queue: [],
      posts: [],
      image: null,
      error: null,
      blockedusers: this.blockedusers,
      name: this.name,
      userdata: this.userdata,
      userdescription: this.userdescription,
      username: this.username,
      domain: window.location.host
    }
  },
  methods: {
    approve: function (name, id) {
        window.fetch(`/mod/approve?name=${name}&id=${id}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
      window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    },
    deny: function (name, id) {
        window.fetch(`/mod/deny?name=${name}&id=${id}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
      window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    },
    denyblock: function (name, id) {
        window.fetch(`/mod/denyblock?name=${name}&id=${id}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
      window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    },
    unblockuser: function (name, id) {
        window.fetch(`/mod/unblockuser?name=${name}&id=${id}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
    },
    deletepost: function (name, id) {
        window.fetch(`/mod/delete/post?name=${name}&id=${id}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
      window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    },
    deleteuser: function (name) {
        window.fetch(`/mod/delete/user?name=${name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
      window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    },
    save: function (name, description, username) {
      window.fetch(`/mod/changedata?name=${name}&description=${description}&username=${username}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test3")
        console.log(json)
      })
    },
    previewFiles(event) {
      const files = event.target.files
      let filename = files[0].name
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.imageUrl = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image = files[0]
   }
  },
  created () {
    window.fetch(`/mod/data/queue?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.queue = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/data/posts?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test2")
        console.log(json)
        this.posts = json
      })
      .catch(err => (this.error = err.message))
    window.fetch(`/mod/userblocks?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.blockedusers = json
      })
      .catch(err => (this.error = err.message))
      window.fetch(`/mod/userinfo?name=${this.name}`, {
      method: 'get',
      headers: {
        accept: 'application/json'
      }
    }).then(res => res.json())
      .then(json => {
        console.log("test4")
        console.log(json)
        this.userdata = json
        this.userdescription = json.summary[0]
        this.username = json.name[0]
      })
      .catch(err => (this.error = err.message))
    }
}
</script>



<style>
    button.approve {
        margin-left:5em; 
        float:right;
    }
    button.deny {
        margin-left:5em; 
        float:right;
    }
    li {
        margin: 12px 0;
    }
</style>